.intro{
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 2.5vh;
    font-family: Tahoma;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
}
.intro:hover {
    color: #00ccff;
}
#presentacion{
    top: 85vh;
    left: 0%;
}
#academia{
    top: 85vh;
    left: 22.5%;
}
#persona{
    top: 85vh;
    left: 45%;
}
#exp{
    top: 85vh;
    left: 65%;
}
#sitios{
    top: 85vh;
    left: 85%;
}