body {
    background-color: #f0f0f0; /* Cambiar el color de fondo */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    height: 100vh;
    min-width: 1000px;
  }

.principal{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagen{
    position: absolute;
}

.imagen img{
    width: 100%;
    height: 80vh;
    filter: blur(6px);
    opacity: 0.85;
    display: block;
}

#img_principal{
    height: 80vh;
    width: 100%;
}

.overlay{
    position: absolute;
    padding: 0;
    bottom: 0;
    margin: 0;
}

#imagen_inferior{
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(to bottom,#c0ffcf,#afb8ff);
}

.contenedor_intro{
    position: absolute;
    min-width: 600px;
    width: 60vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.contenedor_img_perfil{
    position: absolute;
    top: 10vh;
    width: 30vh;
    height: 30vh;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.contenedor_img_perfil img{
    width: 150px;
    height: 150px;
}

