body {
    background-color: #f0f0f0; /* Cambiar el color de fondo */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    height: 100vh;
    width: 100vw;
  }

.principal{
    position: relative;
    height: 90vh;
    width: 100vw;
}

.contenedor{
    position: absolute;
    width: 80vw;
    height: 80vh;
    background-color: black;
}

.imagen{
    position: absolute;
    padding: 0;
}

#img_principal{
    height: 80vh;
    width: 100vw;
}

#img_principal img{
    width: 100vw;
    height: 80vh;
    filter: blur(6px);
    opacity: 0.85;
    display: block;
}

.overlay{
    position: absolute;
    padding: 0;
    overflow: hidden; 
    object-fit: cover;
    z-index: 1;
}

#imagen_inferior{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(to bottom,#c0ffcf,#808fff);
}



