body {
    background-color: #f0f0f0; /* Cambiar el color de fondo */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    height: 100vh;
    min-width: 1000px;
  }
.principal{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.imagen{
    position: absolute;
}
.imagen img{
    width: 100%;
    height: 80vh;
    filter: blur(6px);
    opacity: 0.85;
    display: block;
}
#img_principal{
    height: 80vh;
    width: 100%;
}
.overlay{
    position: absolute;
    padding: 0;
    bottom: 0;
    margin: 0;
}
#imagen_inferior{
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(to bottom,#c0ffcf,#afb8ff);
}
.contenedor_intro{
    position: absolute;
    min-width: 600px;
    width: 60vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
}
.contenedor_img_perfil{
    position: absolute;
    top: 10vh;
    width: 30vh;
    height: 30vh;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.contenedor_img_perfil img{
    width: 150px;
    height: 150px;
}
.icon_persona{
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 25vh;
    height: 25vh;
    border-radius: 3vh;
    background-color: rgba(0, 0, 0, 0.258);
    overflow: hidden;
    transition: border 0.1s;
    text-align: center;
}
.icon_persona:hover{
    border: 2vh solid transparent;
    box-shadow: 0 0 20px #47ff72;
}
.icon_persona:hover .t_des{
    right: 15%;
}
.icon_persona:hover .t_des_p{
    right: 20%;
}
.icon_persona:hover .t_des_gus{
    right: 30%;
}
.icon_persona:hover .t_des_p_gus{
    right: 10%;
}
.icon_persona:hover .t_des_hab{
    right: 17%;
}
.icon_persona:hover .t_des_p_hab{
    right: 22%;
}
.icon_persona:hover .t_des_deb{
    right: 17%;
}
.icon_persona:hover .t_des_p_deb{
    right: 17%;
}
.icon_persona img{
    width: 100%;
    height: auto;
    display: block;
    transition: 0.2s;
}
.icon_persona:hover img{
    opacity: 0;
}
#pasatiempos{
    top: 10%;
    margin-right: 30vh;
}
#gustos{
    top: 10%;
    margin-left: 30vh;
}
#habilidades{
    top: 40%;
    margin-right: 30vh;
}
#debilidades{
    top: 40%;
    margin-left: 30vh;
}
.frame{
    position: absolute;
    max-width: 600px;
    max-height: 600px;
    width: 100vh;
    height: 70vh;
    border-radius: 3vh;
    background-color: white;
}
#experiencia{
    top:5vh;
}
#exp_frame{
    width: 100%;
    height: 100%;
    border-radius: 3vh;
}